.page {
    margin: auto;
    max-width: 800px;
    min-height: 95vh;
    font-family: "Avant Garde", Helvetica, Arial;
}

.footer {
    font-family: "Avant Garde", Helvetica, Arial;
    margin: auto;
    max-width: 800px;
    font-size: small;
}

.container {
    padding: 1rem;
}